<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Leaflet Step-1</title>

  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin="" />

  <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>

<body>
  <div class="container">

    <div class="title">
      <h1>Tech Career Analytics and Insights Hub</h1>
      <p>- Explore Salary Trends and Make Informed Decisions</p>
      <p>- Use the interactive charts below to navigate salary data for top job titles, countries, and experience levels.</p>
      <p>- This tool empowers you with valuable insights for strategic decisions in global job seeking, hiring, global HR strategies.</p>
    </div>

    <div class="dropdown-container">
      <div class="dropdown">
        <div class="well">
          <h5>Select a Country</h5>
          <select id="selDataset" onchange="handleCountryChange(this.value)"></select>
        </div>
        <div class="panel panel-primary">
          <div id="sample-metadata" class="panel-body"></div>
        </div>
      </div>

      <div class="dropdownjobtitle">
        <div class="well">
          <h5>Select a Job Title</h5>
          <select id="jobDataset" onchange="handleJobTitleChange(this.value)"></select>
        </div>
        <div class="panel panel-primary">
          <div id="sample-metadata" class="panel-body"></div>
        </div>
      </div>

      <div class="dropdownexperiencelevel">
        <div class="well">
          <h5>Select an Experience Level</h5>
          <select id="expDataset" onchange="handleExperienceLevelChange(this.value)"></select>
        </div>
        <div class="panel panel-primary">
          <div id="sample-metadata" class="panel-body"></div>
        </div>
      </div>

    </div>

    <div class="charts-container">
      <div class="chart">
        <div id="country-bar"></div>
        <div id="country-map" style="width: 100%; height: 500px;"></div>
      </div>

      <div class="chart">
        <div id="job-line-graph"></div>
        <div id="job-map" style="width: 100%; height: 500px"></div>
      </div>

      <div class="chart">
        <div id="experience-line-chart"></div>
        <div id="experience-map" style="width: 100%; height: 500px"></div>
      </div>
    </div>

  </div>

  <!-- Leaflet JS -->
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""></script>
  <!-- D3 JavaScript -->
  <script src="https://d3js.org/d3.v7.min.js"></script>
  <!-- Plotly JavaScript -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <!-- Linechart JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  <!-- Our JavaScript -->
  <script type="text/javascript" src="static/js/country.js"></script>
  <script type="text/javascript" src="static/js/jobs.js"></script>
  <script type="text/javascript" src="static/js/experience.js"></script>

</body>

</html>
